$white: #e9f2f2;
$lightGreen: #36ffe3;
$green: #27b8a3;
$black: #1b1c1c;

.node{
    text-align: center;
    
    &__link{
        color: $white;
        text-decoration: none;
    }
}
@media (min-width: 801px) {
    .node{
        position: absolute;
        top: -18vh;
        left: 20.5vh;
        border-radius: 50%;

        &__link{
            display: inline-block;
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background-color: blue;

            &:hover{
                color: $green;
            }
            &:focus{
                outline: none;
            }
        }
    }
}