$white: #e9f2f2;
$lightGreen: #36ffe3;
$green: #27b8a3;
$black: #1b1c1c;

.nodes{
    font-family: "Nunito-SemiBold";
    text-align: center;
    list-style-type: none;

    &__feedback{
        color: #272929;
        margin: 5rem 0 0 0;
        font-size: 2rem;
    }
}
@media (min-width: 801px) {
    .nodes{

        &__feedback{
            color: #272929;
            margin: 10vh 0 0 0;
            font-size: 4vh;
        }
    }
}